* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
}
.countries {
  margin: 4rem;
  display: flex;
  font-size: 2rem;
  opacity: 0;
  width: 40rem;
  transition: opacity 1s;
}
.country {
  background-color: #fff;
  box-shadow: 0.2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  width: 40rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  margin-right: 5rem;
}
